body {font-family: sans-serif; margin: 10px}
table {width: 100%}
th, td {padding: 5px; border: 1px solid #eee}
th {text-align: left; background-color: #fafafa}
a {color: #007bff; text-decoration: none}
a:hover {text-decoration: underline}
.header {background-color: #fafafa; padding: 10px; border-radius: 4px; margin-bottom: 10px; position: relative}
.error {background-color: #f3d5d5; padding: 10px; border-radius: 4px; margin-bottom: 10px}
.breadcrumbs {display: inline-block}
.usermenu {display: inline-block; position: absolute; right: 10px}
.usermenu button {margin-left: 10px}
.guest {color: #999}
.loginform {position: absolute; right: -10px; top: 30px; background-color: #fafafa; border-radius: 4px; padding: 10px}
